/* font quick reference:
font-family: 'Righteous', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Ultra', serif;
font-family: 'Fugaz One', cursive; */

.toDo{
    font-size: 3vw;
    font-weight: 900;
    color: red;
}

body {
    background-image: url(Assets/Instruments.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.container {
    margin-bottom: 1vw;
}

.card, .heading {
    background-color: rgba(255, 255, 255, .9);
}

h1, .card-header, .btn-link{
text-align: center;
font-size: 1.3vw;
}

.click {
justify-content: center;
}

#pageTitle {
font-size: 3vw;
background-color: rgba(255, 255, 255, .9);
margin-top: 1vw;
}

.btn-danger{
    font-size: 1.5vw;
}